[BUG] Opaque value decoded in base64 format instead of base64 URL format

I was thinking that was a Leshan bootstrap demo server bug, but it seems to be a problem with the Wakaama library.
https://github.com/eclipse/leshan/issues/1444
https://github.com/OpenMobileAlliance/OMA_LwM2M_for_Developers/issues/553

According to the [RFC8428§4.3- SenML Labels](https://www.rfc-editor.org/rfc/rfc8428#section-4.3) the opaque value over SenML JSON should be encode in base64 URL (no padding) format, but Wakaama lib is trying to decode as base64 (with padding) format.

I noticed this issue because I'm failing the bootstrap phase because of that.

Has anyone else noticed the same problem?