server: DELETE / request during bootstrap

According to the lwm2m specification 1.1 (also 1.0) 6.4.2:
> Only in BootstrapInterface, Delete operation MAY target to "/" URI to delete all the existing 
> Object Instances - except LwM2M Bootstrap-Server Account - in the LwM2M Client

Looking at the following line: https://github.com/eclipse/wakaama/blob/9b025e949d1a9fccd9cea2d45da8c8e1a1b1ccf2/core/transaction.c#L181
the only possibility to send DELETE / request is, to omit the path-uri option in the coap header by having uriP set to NULL. It would be more explicit to set the path-uri option to empty string which would benefit the readability.

§6.1.7.6 in TS-Core V1.1.1-20190617-A states that when a bootstrap delete is used without any parameter all instances of all objects must be removed (well almost..). Maybe that is clear enough, no need for a "/" path-uri option?

MAY means it is optional. Omitting the path-uri option makes for a slightly smaller message (1 byte) which might be significant when paying by the byte with a large number of devices. Any compliant client should be able to handle it either way. We might need to check if it would be handled properly by the client code if it is included, but I would suggest not adding it to the server.

> §6.1.7.6 in TS-Core V1.1.1-20190617-A states that when a bootstrap delete is used without any parameter all instances of all objects must be removed (well almost..). Maybe that is clear enough, no need for a "/" path-uri option?

This is the core spec and so just explains what happens when `ObjectID` or `ObjectInstanceID` are not used.
Here there is no CoAP concept or  path URI concept involved. 
You need to see how it looks like regarding [transport spec](http://www.openmobilealliance.org/release/LightweightM2M/V1_1_1-20190617-A/HTML-Version/OMA-TS-LightweightM2M_Transport-V1_1_1-20190617-A.html#6-4-2-0-642-Bootstrap-Interface).

> MAY means it is optional. 

This is not my understanding of this "MAY".  It seems to me this MAY rather means that you can eventually delete all instance using "/".

As I understand the specification usage of "/" is the real LWM2M way, I think using an empty path is not allowed.
(an other hint : all example in the spec use "/")

> Omitting the path-uri option makes for a slightly smaller message (1 byte) which might be significant 
when paying by the byte with a large number of devices.

I agree this would be a kind of optimization but it would be out of spec for me.
**If my interpretation is correct,** I suppose using and supporting "/" is the right way and so server must use "/" and client should only support "/". Eventually client could also support no path-uri but this could hide some server misbehavior.

For this last point we face the classic dilemma, "should we be strict or tolerating" ? Generally we say "strict with output" and "flexible with input". But in my experience this is sometime a bad solution because this hide interoperability issue.
So maybe the right way with input is "strict by default but could be set flexible if needed to support bad implementation" ?


> > MAY means it is optional.
> 
> This is not my understanding of this "MAY". It seems to me this MAY rather means that you can eventually delete all instance using "/".

§6.1.7.6 in TS-Core V1.1.1-20190617-A states:

       The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD", "SHOULD NOT",
       "RECOMMENDED", "MAY", and "OPTIONAL" in this document are to be interpreted as described in [RFC2119].

From [RFC2119 section 5](https://tools.ietf.org/html/rfc2119#section-5):

       5. MAY   This word, or the adjective "OPTIONAL", mean that an item is
       truly optional.  One vendor may choose to include the item because a
       particular marketplace requires it or because the vendor feels that
       it enhances the product while another vendor may omit the same item.
       An implementation which does not include a particular option MUST be
       prepared to interoperate with another implementation which does
       include the option, though perhaps with reduced functionality. In the
       same vein an implementation which does include a particular option
       MUST be prepared to interoperate with another implementation which
       does not include the option (except, of course, for the feature the
       option provides.)

> As I understand the specification usage of "/" is the real LWM2M way, I think using an empty path is not allowed.
> (an other hint : all example in the spec use "/")

According to [RFC7252 section 6.4 "Decomposing URIs into Options"](https://tools.ietf.org/html/rfc7252#section-6.4) step 8:

       8. If the value of the <path> component of |url| is empty or
       consists of a single slash character (U+002F SOLIDUS "/"), then
       move to the next step.

       Otherwise, for each segment in the <path> component, include a
       Uri-Path Option and let that option's value be the segment (not
       including the delimiting slash characters) after converting each
       percent-encoding ("%" followed by two hexadecimal digits) to the
       corresponding byte.
And then [section 6.5 "Composing URIs from Options"](https://tools.ietf.org/html/rfc7252#section-6.5) steps 6 & 7:

        6. Let |resource name| be the empty string.  For each Uri-Path
        Option in the request, append a single character U+002F SOLIDUS
        (/) followed by the option's value to |resource name|, after
        converting any character that is not either in the "unreserved"
        set, in the "sub-delims" set, a U+003A COLON (:) character, or a
        U+0040 COMMERCIAL AT (@) character to its percent-encoded form.

        7.   If |resource name| is the empty string, set it to a single
        character U+002F SOLIDUS (/).
So for CoAP, following the standard means not sending the Uri-Path Option for a path of "/". On reception, if only one Uri-Path Option is present and empty it is equivalent to not being present and will be "/".

We are already sending it properly by not including the Uri-Path Option.

On the receiving side, uri_decode() in uri,c has this, which will handle it either way:

        if (NULL == uriPath || uriPath->len == 0)
        {
            return LWM2M_REQUEST_TYPE_DELETE_ALL;
        }

I don't think there is any change needed.

About the MAY, I wanted to say it is applied to the feature (Bootstrap Delete all) and not how the path could be.
As "/"  and no option is encoded in a same way CoAP, my previous  comment didn't make sense  :sweat_smile:.

> I don't think there is any change needed.
Me too :)

I must admit, @sbertin-telular you are right with what the coap specification says according to composing and decomposing URIs.
So, I close this issue, because no change is needed. Good discussion anyway.