Push for CBOR to be included in CoAP Content-Formats Registry?

I was looking at https://github.com/eclipse/wakaama/blob/master/core/liblwm2m.h#L327 and saw that it contains the usual common encoding standards like JSON. Which matches https://tools.ietf.org/html/rfc7252#section-12.3 .

However I would think it would be a good time to get a registration number for CBOR included in the standard. Considering that CBOR is being used as a compact alternative to json in industrial sensors. (Due to compact wire size and compact encoder/decoder).

I'm just wondering what's your thought on this? And if so, whats the best approach to do so?

https://www.iana.org/assignments/core-parameters/core-parameters.xhtml#content-formats

looks like its in as 60, along with others.

Above is a sketch, but anyway for those who actually know how to contribute to this repo, below is my proposal.

```
typedef enum
{ /* Official ContentFormat/MediaType Registry: https://www.iana.org/assignments/core-parameters/core-parameters.xhtml#content-formats */
    /* 0-255  Expert Review */
    LWM2M_CONTENT_TEXT             = 0    ,  //  text/plain; charset=utf-8                    /* Ref: [RFC2046][RFC3676][RFC5147] */
    LWM2M_CONTENT_COSE_ENCRYPT0    = 16   ,  //  application/cose; cose-type="cose-encrypt0"  /* Ref: [RFC8152] */
    LWM2M_CONTENT_COSE_MAC0        = 17   ,  //  application/cose; cose-type="cose-mac0"      /* Ref: [RFC8152] */
    LWM2M_CONTENT_COSE_SIGN1       = 18   ,  //  application/cose; cose-type="cose-sign1"     /* Ref: [RFC8152] */
    LWM2M_CONTENT_LINK             = 40   ,  //  application/link-format                      /* Ref: [RFC6690] */
    LWM2M_CONTENT_XML              = 41   ,  //  application/xml                              /* Ref: [RFC3023] */
    LWM2M_CONTENT_OPAQUE           = 42   ,  //  application/octet-stream                     /* Ref: [RFC2045][RFC2046] */
    LWM2M_CONTENT_EXI              = 47   ,  //  application/exi                              /* Ref: ["Efficient XML Interchange (EXI) Format 1.0 (Second Edition)" ,February 2014] */
    LWM2M_CONTENT_JSON             = 50   ,  //  application/json                             /* Ref: [RFC4627] */
    LWM2M_CONTENT_JSON_PATCH_JSON  = 51   ,  //  application/json-patch+json                  /* Ref: [RFC6902] */
    LWM2M_CONTENT_MERGE_PATCH_JSON = 52   ,  //  application/merge-patch+json                 /* Ref: [RFC7396] */
    LWM2M_CONTENT_CBOR             = 60   ,  //  application/cbor                             /* Ref: [RFC7049] */
    LWM2M_CONTENT_CWT              = 61   ,  //  application/cwt                              /* Ref: [RFC8392] */
    LWM2M_CONTENT_COSE_ENCRYPT     = 96   ,  //  application/cose; cose-type="cose-encrypt"   /* Ref: [RFC8152] */
    LWM2M_CONTENT_COSE_MAC         = 97   ,  //  application/cose; cose-type="cose-mac"       /* Ref: [RFC8152] */
    LWM2M_CONTENT_COSE_SIGN        = 98   ,  //  application/cose; cose-type="cose-sign"      /* Ref: [RFC8152] */
    LWM2M_CONTENT_COSE_KEY         = 101  ,  //  application/cose-key                         /* Ref: [RFC8152] */
    LWM2M_CONTENT_COSE_KEY_SET     = 102  ,  //  application/cose-key-set                     /* Ref: [RFC8152] */
    LWM2M_CONTENT_COAP_GROUP_JSON  = 256  ,  //  application/coap-group+json                  /* Ref: [RFC7390] */
    /* 256-9999  IETF Review or IESG Approval */
    LWM2M_CONTENT_OMA_TLV_OLD      = 1542 ,  //  Keep old value for backward-compatibility    /* Ref: [OMA-TS-LightweightM2M-V1_0] */
    LWM2M_CONTENT_OMA_JSON_OLD     = 1543 ,  //  Keep old value for backward-compatibility    /* Ref: [OMA-TS-LightweightM2M-V1_0] */
    /* 10000-64999  First Come First Served */
    LWM2M_CONTENT_VND_OCF_CBOR     = 10000,  //  application/vnd.ocf+cbor                     /* Ref: [Michael_Koster] */
    LWM2M_CONTENT_OMA_TLV          = 11542,  //  application/vnd.oma.lwm2m+tlv                /* Ref: [OMA-TS-LightweightM2M-V1_0] */
    LWM2M_CONTENT_OMA_JSON         = 11543,  //  application/vnd.oma.lwm2m+json               /* Ref: [OMA-TS-LightweightM2M-V1_0] */
    /* 65000-65535  Experimental use (no operational use) */
} lwm2m_media_type_t;
```

A better location could be to modify https://github.com/eclipse/wakaama/blob/master/core/er-coap-13/er-coap-13.h#L184

```
/* CoAP Content-Types */
typedef enum {
  /* 0-255  Expert Review */
  TEXT_PLAIN                   = 0    ,  //  text/plain; charset=utf-8                    /* Ref: [RFC2046][RFC3676][RFC5147] */
  TEXT_XML                     = 1    ,  //                                               /* Ref: ??? */
  TEXT_CSV                     = 2    ,  //                                               /* Ref: ??? */
  TEXT_HTML                    = 3    ,  //                                               /* Ref: ??? */
  APPLICATION_COSE_ENCRYPT0    = 16   ,  //  application/cose; cose-type="cose-encrypt0"  /* Ref: [RFC8152] */
  APPLICATION_COSE_MAC0        = 17   ,  //  application/cose; cose-type="cose-mac0"      /* Ref: [RFC8152] */
  APPLICATION_COSE_SIGN1       = 18   ,  //  application/cose; cose-type="cose-sign1"     /* Ref: [RFC8152] */
  IMAGE_GIF                    = 21   ,  //                                               /* Ref: ??? */
  IMAGE_JPEG                   = 22   ,  //                                               /* Ref: ??? */
  IMAGE_PNG                    = 23   ,  //                                               /* Ref: ??? */
  IMAGE_TIFF                   = 24   ,  //                                               /* Ref: ??? */
  AUDIO_RAW                    = 25   ,  //                                               /* Ref: ??? */
  VIDEO_RAW                    = 26   ,  //                                               /* Ref: ??? */
  APPLICATION_LINK_FORMAT      = 40   ,  //  application/link-format                      /* Ref: [RFC6690] */
  APPLICATION_XML              = 41   ,  //  application/xml                              /* Ref: [RFC3023] */
  APPLICATION_OCTET_STREAM     = 42   ,  //  application/octet-stream                     /* Ref: [RFC2045][RFC2046] */
  APPLICATION_RDF_XML          = 43   ,  //                                               /* Ref: ??? */
  APPLICATION_SOAP_XML         = 44   ,  //                                               /* Ref: ??? */
  APPLICATION_ATOM_XML         = 45   ,  //                                               /* Ref: ??? */
  APPLICATION_XMPP_XML         = 46   ,  //                                               /* Ref: ??? */
  APPLICATION_EXI              = 47   ,  //  application/exi                              /* Ref: ["Efficient XML Interchange (EXI) Format 1.0 (Second Edition)" ,February 2014] */
  APPLICATION_FASTINFOSET      = 48   ,  //                                               /* Ref: ??? */
  APPLICATION_SOAP_FASTINFOSET = 49   ,  //                                               /* Ref: ??? */
  APPLICATION_JSON             = 50   ,  //  application/json                             /* Ref: [RFC4627] */
  /* conflicting: APPLICATION_X_OBIX_BINARY = 51, */
  APPLICATION_JSON_PATCH_JSON  = 51   ,  //  application/json-patch+json                  /* Ref: [RFC6902] */
  APPLICATION_MERGE_PATCH_JSON = 52   ,  //  application/merge-patch+json                 /* Ref: [RFC7396] */
  APPLICATION_CBOR             = 60   ,  //  application/cbor                             /* Ref: [RFC7049] */
  APPLICATION_CWT              = 61   ,  //  application/cwt                              /* Ref: [RFC8392] */
  APPLICATION_COSE_ENCRYPT     = 96   ,  //  application/cose; cose-type="cose-encrypt"   /* Ref: [RFC8152] */
  APPLICATION_COSE_MAC         = 97   ,  //  application/cose; cose-type="cose-mac"       /* Ref: [RFC8152] */
  APPLICATION_COSE_SIGN        = 98   ,  //  application/cose; cose-type="cose-sign"      /* Ref: [RFC8152] */
  APPLICATION_COSE_KEY         = 101  ,  //  application/cose-key                         /* Ref: [RFC8152] */
  APPLICATION_COSE_KEY_SET     = 102  ,  //  application/cose-key-set                     /* Ref: [RFC8152] */
  APPLICATION_COAP_GROUP_JSON  = 256  ,  //  application/coap-group+json                  /* Ref: [RFC7390] */
  /* 256-9999  IETF Review or IESG Approval */
  APPLICATION_OMA_TLV_OLD      = 1542 ,  //  Keep old value for backward-compatibility    /* Ref: [OMA-TS-LightweightM2M-V1_0] */
  APPLICATION_OMA_JSON_OLD     = 1543 ,  //  Keep old value for backward-compatibility    /* Ref: [OMA-TS-LightweightM2M-V1_0] */
  /* 10000-64999  First Come First Served */
  APPLICATION_VND_OCF_CBOR     = 10000,  //  application/vnd.ocf+cbor                     /* Ref: [Michael_Koster] */
  APPLICATION_OMA_TLV          = 11542,  //  application/vnd.oma.lwm2m+tlv                /* Ref: [OMA-TS-LightweightM2M-V1_0] */
  APPLICATION_OMA_JSON         = 11543,   //  application/vnd.oma.lwm2m+json               /* Ref: [OMA-TS-LightweightM2M-V1_0] */
  /* 65000-65535  Experimental use (no operational use) */
  CONTENT_MAX_VALUE = 0xFFFF
} coap_content_type_t;
```

Hi,

Note that wakaama is an implementation of the Lightweight M2M standard (LwM2M). The specification of this standard can be found on the OMA website at https://www.omaspecworks.org/what-is-oma-specworks/iot/lightweight-m2m-lwm2m/. LwM2M 1.0 defines the usage of several encoding formats: text, TLV and JSON.

Supporting CBOR would not be part of the 1.0 standard. But, spoiler: it would be part of version 1.1 of the standard.

Regards,


Oh I see, fair enough. I think I understand a bit more about how wakaama deals with mediatypes. I can see now that lwm2m_media_type_t is a subset of coap_content_type_t. Is this for flexibility in handling mediatypes (or adding mediatypes)? That would make sense, as there is this function `lwm2m_media_type_t utils_convertMediaType(coap_content_type_t type)`.

Plus resources content is always defined by the object models anyway. So maybe in practical terms this approach gives lwm2m more flexibility to support their own datatype independently of iana.

I think we can close this one. 