If DATA is more than 1003 bytes only 1003 bytes are sent without any error message.

While testing #461

server: write 0 /31024/10/5 DATA
client: dump /31024/10

If DATA is more than 1003 bytes only 1003 bytes are sent without any error message. Possibly command line input limitation.



The examples have a #define for MAX_PACKET_SIZE that limits the input. for the bootstrap_server this is 198. For the others it is 1024.

[RFC7252 section 4.6](https://tools.ietf.org/html/rfc7252#section-4.6) says:

    A CoAP message, appropriately encapsulated, SHOULD fit within a
    single IP packet (i.e., avoid IP fragmentation) and (by fitting into
    one UDP payload) obviously needs to fit within a single IP datagram.
    If the Path MTU is not known for a destination, an IP MTU of 1280
    bytes SHOULD be assumed; if nothing is known about the size of the
    headers, good upper bounds are 1152 bytes for the message size and
    1024 bytes for the payload size.

I think MAX_PACKET_SIZE applies to the entire message, so yes there is a potential interoperability issue for large messages.

Wakaama client/server examples use the `#define MAX_PACKET_SIZE` when receiving packets, silently truncating any packet that exceeds the limit. 
```
uint8_t buffer[MAX_PACKET_SIZE];
numBytes = recvfrom(data.sock, buffer, MAX_PACKET_SIZE, 0, (struct sockaddr *)&addr, &addrLen);
```
When sending packets the #define is not used and memory is allocated dynamically using malloc() allowing very large packets to be sent.
Hands on testing shows that
a) this is less of an issue with blocktransfer in place (packets are kept sufficiently small provided both parties support blocktransfer)
b) it is possible to send very large packets (if TLV is used, SENML has another limitation #526), but they are not accepted by the leshan server used.

Current best thinking (on my part) is to extend the receive buffer to `uint8_t buffer[MAX_PACKET_SIZE+1];` and check if this number of bytes is received the packet is dropped (better than corrupting data). 

I don't think 4.13 Enitity too large is appropriate since 4.xx errors indicates that the coap client made an errornous request,  which it did not. It is an  coap server error so the response should be 5.00 Internal server error. 4.13 actually reads Request Entity Too Large and it is not the request that is too large, it is the response.

Attempt to summarize the discussion so far
 > If DATA is more than 1003 bytes only 1003 bytes are sent without any error message. Possibly command line input limitation.

The title is misleading (I wrote it 😂). The concern is that the wakaama client and server truncate all **_received_** UDP payloads to MAX_PACKET_SIZE. There is also a truncation of command line input, arguably less of a concern.

Context matters, is it a request or a response that is being truncated, what format is being used. E.g. TLV might cause loss of information while SENML should cause parsing error and be detected. Blocktransfer should reduce the risk of this limit causing a problem.
No clear suggestion on how this should be addressed, if it needs to be. Dropping packets is easy, will prevent "corruption" in the TLV case mentioned but will prevent the "parsing error" detection if SENML. 
 





 

At that point I'm not sure a proper response can be constructed. It is unknown whether the packet is a request or response. I think it is reasonable to drop the packet at that point.

https://github.com/eclipse/wakaama/issues/509#issuecomment-745387617 is a good hint to define the good default value for this buffer.

When we receive message larger than this buffer, the CoAP specification gives some good hint : 
>  If an implementation is too constrained to allow for allocating the
      above-mentioned upper bound, it could apply the following
      implementation strategy for messages not using DTLS security:
      Implementations receiving a datagram into a buffer that is too
      small are usually able to determine if the trailing portion of a
      datagram was discarded and to retrieve the initial portion.  So,
      at least the CoAP header and options, if not all of the payload,
      are likely to fit within the buffer.  A server can thus fully
      interpret a request and return a 4.13 (Request Entity Too Large;
      see Section 5.9.2.9) Response Code if the payload was truncated.
      A client sending an idempotent request and receiving a response
      larger than would fit in the buffer can repeat the request with a
      suitable value for the Block Option [BLOCK].
      
(at the end of https://tools.ietf.org/html/rfc7252#section-4.6)

Some ideas,  from an ideal world solution to the easier way : 
1. fallback to block transfer : for received request : use 4.13 + block option, for received response  : retry the request with block transfer
2. just notify issue : for received request : use 4.13, for received response : return error to the upper/application layer.
3. just ignore + logs

I don't know exactly where this buffer is used but note that if you are using DTLS you first need to decrypt the payload to be able to know if you face a response or a request. And so 1) or 2) could not work depending which buffer we are talking about.

About packet size negotiation with DTLS, you could be interested by : 
- https://tools.ietf.org/html/rfc6066#section-4
- Or more recent : https://tools.ietf.org/html/rfc8449

Maybe @boaks , you have some knowledge to share about this kind of question about CoAP and DTLS message size ? 

For C, I think, setup a "const" with the MAX_MESSAGE_SIZE and report a violation on the sending peer seems for me the best to do. To send a truncated messages seems for me to be unreliable (and somehow wasting bandwidth). 

Increased MAX_PACKET_SIZE to 2048 (should be power of 2) and added logic to drop packet and print message if limit is exceeded. 
PR #532 
I consider this a pragmatic and clean solution...

> Increased MAX_PACKET_SIZE to 2048 (should be power of 2)

Where does the power of 2 requirement come from? I'm not objecting to it, I just want to understand it and have it documented.

_should_ was too strong. I googled and this was suggested in several threads. I think this is highly implementation/hardware dependent and might not make any difference. Some algorithms, memory managers, "hardware buffers" etc. work better with power of 2 sizes so maybe it can be considered good practice? :) 

Another concern was what would happen to the remaining data after a truncated packet is read from the socket. My understanding (and some practical tests) is that UDP sockets contrary to TCP discard the remaining bytes. If this is not true in all cases the "extra" packet should* be corrupt and discarded anyway.

*_here we go again_...